###
 # @Author: zhouyuchong
 # @Date: 2026-07-01 14:36:08
 # @Description: 
 # @LastEditors: zhouyuchong
 # @LastEditTime: 2026-07-01 14:36:30
### 
USE_PROXY=0

all_proxy=http://127.0.0.1:7890
http_proxy=http://127.0.0.1:7890
https_proxy=http://127.0.0.1:7890

DEEPSEEK_API_KEY=fake-api=key
BASE_URL=https://api.deepseek.com
BASE_MODEL=deepseek-v4-flash

TRENDING_PAPER_URL=https://huggingface.co/papers/trending
TRENDING_PAPER_DAILY_URL=https://huggingface.co/papers/date/2026-07-01