###
 # @Author: zhouyuchong
 # @Date: 2026-07-01 14:36:08
 # @Description: 
 # @LastEditors: zhouyuchong
 # @LastEditTime: 2026-07-01 14:36:30
### 
USE_PROXY=0

all_proxy=http://127.0.0.1:7890
http_proxy=http://127.0.0.1:7890
https_proxy=http://127.0.0.1:7890

DEEPSEEK_API_KEY=fake-api=key
BASE_URL=https://api.deepseek.com
BASE_MODEL=deepseek-v4-flash

TRENDING_PAPER_URL=https://huggingface.co/papers/trending
TRENDING_PAPER_DAILY_URL=https://huggingface.co/papers/date/2026-07-01

CRAWL_DELAY_SECONDS=30
DOWNLOAD_DELAY_SECONDS=60
DOWNLOAD_RETRY_DELAY_SECONDS=120
DOWNLOAD_MAX_ATTEMPTS=3
LLM_DELAY_SECONDS=5
LLM_MAX_ATTEMPTS=3
LLM_RETRY_DELAY_SECONDS=10

# Gmail API Config
RECIPIENT_EMAILS=user1@example.com,user2@example.com
# GMAIL_CREDENTIALS_JSON can be the json string or base64 encoded string of credentials.json
# GMAIL_CREDENTIALS_JSON=
# GMAIL_TOKEN_JSON can be the json string or base64 encoded string of token.json
# GMAIL_TOKEN_JSON=